.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #595C6D;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: black 0px 0px 20px;
    padding: 0 1rem;
}
.navLogo {
    display: flex;
    align-items: center;
}
.navLogo h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
    font-family: "Gorditas", serif;
}
.navbar img {
    height: 50px;
    width: auto;
    cursor: pointer;
}
.navBtns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.navbar button {
    font-size: 25px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: white;
    font-family: montserrat, sans-serif;
    cursor: pointer;
}
.navbar button.blue:hover, .navbar button.blue.active {
    color: var(--app-blue);
}
.navbar button.green:hover, .navbar button.green.active {
    color: var(--app-green);
}
.navbar button.pink:hover, .navbar button.pink.active {
    color: var(--app-pink);
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
        padding-right: 0;
    }
    .navbar button {
        font-size: 15px;
    }
    
}