.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bar-color);
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: black 0px 0px 20px;
    padding: 0 1rem;
}
.navLogo {
    display: flex;
    align-items: center;
}
.navLogo h1 {
    font-size: 2rem;
    color: white;
    margin: 0;
    font-family: "Gorditas", serif;
}
.navbar img {
    height: 50px;
    width: auto;
    cursor: pointer;
}
.navBtns {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.mobileNavBtns {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--app-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
    gap: .75rem;
    animation: rollDown 0.3s ease-in-out;
}

@keyframes rollDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.navbar button, .mobileNavBtns button {
    font-size: 25px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: white;
    font-family: montserrat, sans-serif;
    cursor: pointer;
}
.mobileNavBtns button {
    width: 98%;
    font-size: 20px;
    color: var(--nav-bar-color);
    background-color: white;
    padding: 1rem;
    box-shadow: black 0px 1px 5px 1px;
    z-index: -1;
    display: none;
}
.mobileNavBtns button.show {
    display: block;
}
.lineBreak {
    margin-bottom: .5rem;
    background-color: var(--app-gray);
    box-shadow: black 0px 2px 10px 1px;
    height: 1px;
}
.mobileNavBtns button.active, .mobileNavBtns button:hover {
    background-color: black;
}
 .closeBtn {
    position: absolute;
    top: 7.5px;
    right: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.navbar button.blue:hover, .navbar button.blue.active, .mobileNavBtns button.blue:hover, .mobileNavBtns button.blue.active {
    color: var(--app-blue);
}
.navbar button.green:hover, .navbar button.green.active, .mobileNavBtns button.green:hover, .mobileNavBtns button.green.active {
    color: var(--app-green);
}
.navbar button.pink:hover, .navbar button.pink.active, .mobileNavBtns button.pink:hover, .mobileNavBtns button.pink.active {
    color: var(--app-pink);
}


.navbar i {
    font-size: 1.85rem;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding-left: .5rem;
    }
    .navLogo {
        gap: .35rem;
    }
    .navbar h1 {
        font-size: 1.65rem;
    }
    .navbar img {
        height: 40px;
    }
    
}