.liTools {
    list-style-type: circle;
    color: yellow;
}

.liTools::marker {
    color: yellow;
}

.expert {
    display: flex;
    align-items: center; 
}

.expert h3 {
    color: yellow;
    margin-right: 10vh;
    margin-left: 10vh;
}
.title, .desc {
    color: white;
}

.experience {
    color: yellow;
}

.python {
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    border: none;
    background-color: inherit;
    color: blue;
    text-decoration: underline;
}

.python:hover {
    cursor: pointer;
}