.liTools {
    list-style-type: circle;
    color: white;
}

.liTools::marker {
    color: white;
}

.expert {
    display: flex;
    align-items: center; 
}

.expert h3 {
    color: white;
    margin-right: 10vh;
    margin-left: 10vh;
}


