li {
    list-style-type: circle;
    color: white;
}

li::marker {
    color: white;
}

.expert {
    display: flex;
    align-items: center; 
}

.expert h3 {
    color: white;
    margin-right: 10vh;
    margin-left: 10vh;
}

.projRef {
    border: none;
    background-color: inherit;
    color: blue;
    text-decoration: underline;
}

.projRef:hover {
    cursor: pointer;
}
.proj{
    margin-bottom: 5px;
}