.stackPage {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

@media (max-width: 768px) {
    .stackPage {
        height: 75vh;
    }
}