:root {
    --user-skin-color: #48c0ef;
    --user-choice-color: #efec48;
    --not-available-color: gray;
}
body{
    position: relative;
}

.main {
    padding: 1.5rem;
}
.user-points {
    border: 1.5px solid gray;
    padding: 1rem 2rem;
    border-bottom: none;
}
.user-points h1 {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}
.skins-container-border {
    border: 1.5px solid gray;
    border-radius: 3px;
    padding: 1.5rem;
    width: calc(100% - 3rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.skins-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10%);
    grid-row-gap: 1.5rem;
    align-self: normal;
}
.skin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: .5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.skin.not-available:hover, .skin.user-choice:hover{
    transform: scale(1);
}
.skin:hover {
    transform: scale(1.075);
}
.skin.user-choice {
    border: 1.5px solid var(--user-choice-color);
    border-radius: 7.5px;
    cursor: default;
}

.skin-name, .points {
    color: white;
    margin: 0;
    font-size: .85rem;
    text-align: center;
}
.points {
    margin-top: 5px;
}
.skin-name.user-skin, .points.user-skin {
    color: var(--user-skin-color);
}
.skin.user-choice .skin-name, .skin.user-choice .points {
    color: var(--user-choice-color);
}
.skin-name.not-available, .points.not-available {
    color: var(--not-available-color);
}
.skin.not-available {
    cursor: default;
}



.dot.user-skin {
    border-color: var(--user-skin-color);
}
.skin.user-choice .dot {
    border-color: var(--user-choice-color);
}
.modal {
    display: none;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 100;
    color: white;
    border: 1.5px solid gray;
    border-radius: 5px;
    padding: 2.5rem;
}
.modal .skin{
    cursor: default;
}
.modal .skin:hover {
    transform: scale(1);
}
.modal-title {
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}
#all-skins-btn {
    display: none;
}
.skin-count {
    display: none;
}