
.listItem::marker {
    color: var(--yellow-color) !important;
}

.azFunc {
    background: none;
    border: none;
    color: var(--link-color);
    font-weight: 600;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

.azFunc:hover {
    color: var(--link-hover-color);
}