.liTools {
    list-style-type: circle;
    color: yellow;
}



.liTools::marker {
    color: yellow;
}

.expert {
    display: flex;
    align-items: center; 
}

.expert h3 {
    color: yellow;
    margin-right: 10vh;
    margin-left: 10vh;
}

.tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projRef, .azFunc {
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    border: none;
    background-color: inherit;
    color: blue;
    text-decoration: underline;
}

.projRef:hover, .azFunc:hover {
    cursor: pointer;
}
.proj{
    margin-bottom: 5px;
}