.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #595C6D;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: black 0px 0px 20px;
}
.link {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 35px;
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: white;
    font-family: montserrat, sans-serif
}
.link:hover {
    color: #81EDEB;
}