:root {
    --purple-color: #6d3f8b;
    --yellow-color: #ffd738;
    --blue-color: #2176a7;
    --orange-color: #af4426;
    --red-color: #ff3d3d;
    --light-blue-color: #93c5fd;
    --link-color:#3b82f6;
    --link-hover-color: #60a5fa;
    --app-blue: #1180E8;
    --app-green: #008000;
    --app-pink: #B53CD6;
    --nav-bar-color: #595C6D;

    /* Colors for theme */
    --bg-color: #1c1c1c;
    --bg-color-dark: #1c1c1c;
    --bg-color-light: #f5f5f5;
    --text-color: white;
    --text-color-dark: white;
    --text-color-light: black;
    --app-gray: #424242;
    --app-gray-dark: #424242;
    --app-gray-light: #c5c5c5;
    --tag-background-color: white;
    --tag-background-color-dark: white;
    --tag-background-color-light: #424242;
    --tag-text-color: #424242;
    --tag-text-color-dark: #424242;
    --tag-text-color-light: white;
    --light-blue-color: #93c5fd;
    --light-blue-color-dark: #93c5fd;
    --light-blue-color-light: #4c9cff;
    --yellow-color: #ffd738;
    --yellow-color-dark: #ffd738;
    --yellow-color-light: #f5e05d;
}
body {
    font-family: montserrat, sans-serif;
    z-index: -1000;
    margin: 0;
}
#root {
    position: relative;
}
.line-break {
    width: 100%;
    height: 2px;
    background-color: black;
}

.fadeGone {
    opacity: 0 !important;
}

.fadeIn {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
/* start with element at 125% size and opacity 0 and go to normal size with opacity 1*/
    from {
        transform: scale(.25);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeInModal {
    animation: fadeInModal 1s ease-in;
}

@keyframes fadeInModal {
    from {
        transform: translate(-50%, -50%) scale(0.25);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.fadeOutModal {
    animation: fadeOutModal 1s ease-in;
}

@keyframes fadeOutModal {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.25);
        opacity: 0;
    }
    
}

.fadeOut {
    animation: fadeOut 1s ease-in;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(.25);
    }
}
.fadeInN, .fadeInNW, .fadeInW, .fadeInSW, .fadeInS, .fadeInSE, .fadeInE, .fadeInNE {
    animation: fadeInAngle 1s ease-in;
}

.fadeOutN, .fadeOutNW, .fadeOutW, .fadeOutSW, .fadeOutS, .fadeOutSE, .fadeOutE, .fadeOutNE {
    animation: fadeOutAngle 1s ease-in;
}

.fadeInN, .fadeOutS {
    /* fade from north */
    --fade-startX: 0;
    --fade-startY: -100%;
}

.fadeInNW, .fadeOutSE {
    /* fade from north-west angle */
    --fade-startX: -100%;
    --fade-startY: -100%;
}

.fadeInW, .fadeOutE {
    --fade-startX: -100%;
    --fade-startY: 0;
}

.fadeInSW, .fadeOutNE {
    --fade-startX: -100%;
    --fade-startY: 100%;
}

.fadeInS, .fadeOutN {
    --fade-startX: 0;
    --fade-startY: 100%;
}

.fadeInNE, .fadeOutSW {
    --fade-startX: 100%;
    --fade-startY: -100%;
}

.fadeInE, .fadeOutW {
    --fade-startX: 100%;
    --fade-startY: 0;
}

.fadeInSE, .fadeOutNW {
    --fade-startX: 100%;
    --fade-startY: 100%;
}

@keyframes fadeInAngle {
    from {
        opacity: 0;
        transform: translate(var(--fade-startX), var(--fade-startY));
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeOutAngle {
    from {
        opacity: 1;
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        transform: translate(var(--fade-startX), var(--fade-startY));
    }
}