.hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/home.jpg');
    background-size: cover;
}
.name {
    font-size: 3.5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.description {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}