.liTools {
    list-style-type: circle;
    color: rgb(124, 118, 118);
}


.liTools::marker {
    color: rgb(124, 118, 118);
}

.expert {
    display: flex;
    align-items: center; 
}

.expert h3 {
    color: rgb(124, 118, 118);
    margin-right: 10vh;
    margin-left: 10vh;
}

.proj{
    margin-bottom: 5px;
}